body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Fundo preto */
    color: #ffffff; /* Texto branco */
}

header {
    background-color: #333333;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

main {
    margin: 2rem auto;
    width: 80%;
    max-width: 800px;
}

.terms-of-use {
    background: #1a1a1a; /* Fundo cinza escuro para contraste */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #ffffff;
}
